/* new arrivals */
.new-arrivals {
    width: 100%;
    height: auto;
    position: relative;
    clear: both;
    padding: 2rem;
}
    .new-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
    }
       
    .new-bottom {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(200px, 400px);
        column-gap: 15px;
        flex-shrink: 0;
        position: relative;
        left: 0;
        transition: all 1s;
    }

    .slide_page_02 {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(200px, 400px);
        column-gap: 15px;
        flex-shrink: 0;
        position: relative;
        left: 0;
        transition: all 1s;
    }



    /* slide용 css */
    .slide_wrap {
        position: relative;
        clear: both;
        width: 100%;
        height: 400px;
    }
    .slide_all {
        position: relative;
        clear: both;
        width:100%;
        height: 400px;
        display: flex;
        flex-flow: nowrap;
        column-gap: 15px;
        overflow: hidden;
    }

    .slide_wrap_02 {
        position: relative;
        clear: both;
        width: 100%;
        height: 400px;
    }
    .slide_all_02 {
        position: relative;
        clear: both;
        width:100%;
        height: 400px;
        display: flex;
        flex-flow: nowrap;
        column-gap: 15px;
        overflow: hidden;
    }
    .slide-btn {
        display: flex;
        column-gap: 10px;
    }
    .slide-btn > span {
        font-size: 2.5rem;
        color: #797979;
        cursor: pointer;
        display: block;
    }

    .slide-btn .btn-on {
        color: #0d0d0d;
    }

    .slide-btn-02 {
        display: flex;
        column-gap: 10px;
    }
    .slide-btn-02 > span {
        font-size: 2.5rem;
        color: #797979;
        cursor: pointer;
        display: block;
    }

    .slide-btn-02 .btn-on {
        color: #0d0d0d;
    }

        .new {
         width: 100%;
         height: 100%;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 4fr 0.5fr 0.5fr;
         grid-template-areas: 
         "img"
         "name"
         "price";
        }

         .new_item_img {
            grid-area: img;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .new_item_img  img {
            object-fit: cover;
            object-position: center;
        }

            
            .new_item_name {
                grid-area: name;
                padding: 10px 0;
                font-size: 0.9rem;
                font-weight: bold;
            }

            .new_item_price {
                grid-area: price;
                font-size: 0.9rem;
            }

            
@media all and (max-width: 800px) {
    .new-top {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
    }
    .new-top > .section_title {
        padding-bottom: 20px;
        white-space: nowrap;
        font-size: 1.3rem;
    }

    .new-top > .slide-btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 10px;
    }

    
    .new-top > .slide-btn-02 {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 10px;
    }
    .slide-btn > span {
        font-size: 2rem;
    }

    .slide-btn-02 > span {
        font-size: 2rem;
    }
    .new-bottom {
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(200px, auto);
        column-gap: 15px;
    }

    .new:nth-child(3), .new:nth-child(4) {
        display: none;
    }
 
    .new {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 0.5fr 0.5fr;
        grid-template-areas: 
        "img"
        "name"
        "price";
       }
    .new_item_img {
        grid-area: img;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .new_item_img  img {
        object-fit: cover;
        object-position: center;
    }
    .new_item_name {
        font-size: 0.8rem;
        grid-area: name;
    }

    .new_item_price {
        grid-area: price;
    }

    
   

    /* 슬라이드 관련 */
    .slide_wrap {
        width: 100%;
        height: 300px;
    }
    .slide_all {
        width:100%;
        height: 300px;
        display: flex;
        flex-flow: nowrap;
        column-gap: 15px;
        overflow: hidden;
    }

    .slide_wrap_02 {
        width: 100%;
        height: 300px;
    }
    .slide_all_02 {
        width:100%;
        height: 300px;
        display: flex;
        flex-flow: nowrap;
        column-gap: 15px;
        overflow: hidden;
    }

}  